.card .front {
    transform: rotateY(90deg);
    position: absolute;
    transition: 200ms;
}
.flipped .front {
    transform: rotateY(0deg);
    transition: 200ms;
}
.card {
    margin-top: 10px;
    margin-left: 10px;
}
.cards {
    margin-right: 60px;
}